body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #a88686;
    color: white;
    font-family: Arial, sans-serif;
}

canvas {
    margin-top: 50px;
    border: 2px solid white; 
    background-color: black; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}